<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeatmapWrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HeatmapWrapper.Properties.Settings>
            <setting name="DevelopmentSpreadsheetID" serializeAs="String">
                <value />
            </setting>
            <setting name="ReleaseSpreadsheetID" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PlotAlpha" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="DiscardOutOfBounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapBoundsMinX" serializeAs="String">
                <value>-204000</value>
            </setting>
            <setting name="MapBoundsMinY" serializeAs="String">
                <value>-204000</value>
            </setting>
            <setting name="MapBoundsMaxX" serializeAs="String">
                <value>204000</value>
            </setting>
            <setting name="MapBoundsMaxY" serializeAs="String">
                <value>204000</value>
            </setting>
            <setting name="MaximumCacheAge" serializeAs="String">
                <value>10</value>
            </setting>
        </HeatmapWrapper.Properties.Settings>
    </userSettings>
</configuration>